venv/
*.sqlite3
DUMP_FOR_DjangoTDDDatabase.json
__pycache__/
__pycache__
*.env
.env
.idea
src/DJANGO_TDD_App/migrations/*
src/posts/migrations/*
src/accounts/migrations/*
src/htmlcov/*
src/.coverage
src/run_test_command.txt
